<form action="" class="form-signup">
  <h5 class="title-signup">Đăng Kí Tài Khoản</h5>
  <div class="user-box">
          <input type="text" name="name" required="">
          <label>UserName</label>
  </div>
  <div class="user-box">
          <input type="email" name="email" required="">
          <label>Email</label>
  </div>
  <div class="user-box">
          <input type="password" name="password" required="">
          <label>Password</label>
  </div>
  <div class="user-box">
          <input type="password" name="password" required="">
          <label>Confirm Password</label>
  </div>
  <button type="submit" class="btn-signup">Đăng Kí Tài Khoản</button>
  <div class="signup-des">
  <p>Bạn mới đăng kí tài PriatedMovies?</p><a href="login">Đăng nhập ngay</a>


  </div>
</form>
