<form action="" class="form-login">
  <h5 class="title-login">Đăng nhập</h5>
  <div class="user-box">
          <input type="email" name="email" required="">
          <label>Email</label>
  </div>
  <div class="user-box">
          <input type="password" name="" required="">
          <label>Password</label>
  </div>
  <button type="submit" class="btn-login">Đăng nhập</button>
  <div class="login-des">
  <p>Bạn mới tham gia PriatedMovies?</p><a href="signup">Đăng kí ngay</a>


  </div>
</form>
